h1{
	font-size: 1.5em;
}

h2{
	font-size: 0.75em;
}

h3{
	font-size: 1.125em;
}

body{
	font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
	background-color: #d6d8da;
	padding-top: 3em;
	padding-bottom: 1em;
}



#row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-left: 5vw;
}

main {
	flex: 1;
	flex-basis: auto; /* like width */
	flex-grow: 2; /* proportion of container */
	flex-shrink: 1;
	width: 50vw;
	max-width: 50vw;
	/*margin-top: 3em;*/
	margin-bottom: 1em;
	/*margin-left: 10vw;*/
}

#secondary {
	flex: 2;
	flex-basis: auto; /* width */
	flex-grow: 1; /* proportion of container */
	flex-shrink: 2;
	position: sticky;
	/*top: -50%; !*relative to the height of self*!*/
	/*float: right;*/
	width: 25vw;
	max-width: 25vw;
	/*margin-top: 3em;*/
	margin-left: 5vw;
	/*margin-right: 10vw;*/
	/*margin-left: 65vw;*/
	/*overflow: hidden;*/
}

#recommended-block {
	text-decoration: none;
	border: solid 1pt black;
	background-color: white;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.75em;
	user-select: none;
}

hr {
	border: solid;
}

.text-link:hover{
	text-decoration: underline;
}

ul{
	list-style: none;
}

li{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
}

footer {
	border: solid 1pt #0c0c0c;
	background-color: white;
	padding: 0.5em;
}

a {
	color: black;
}

a:link{
	text-decoration: none;
	color: #0c0c0c;
}

form {
	border: solid 1pt #0c0c0c00;
	margin-top: 1em;
	background-color: white;
	margin-left: 4em;
	margin-right: 4em;
	padding: 0.5em;
	overflow: hidden;
}

form input {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}